@import url(http://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic);

@font-face {
    font-family: "A Stamper";
    src: url(/img/A_Stamper.ttf) format('truetype');
}

@font-face {
    font-family: Outlaw;
    src: url(/img/Outlaw.ttf) format('truetype');
}

@font-face {
    font-family: "Monti-Decor A";
    src: url(/img/Monti-Decor_A.ttf) format('truetype');
}

html,
body {
    height: 100%;
    color: rgba(255, 215, 0, 0.5);
    font-family: Kurale, sans-serif;
}

body {
}

a {
    color: rgba(255, 215, 0, 0.7);
}

table {
    background: rgba(0,0,0,0.6);
}

th {
    font-size: 1.3em;
}

h1 {
    margin-top: 0;
    color: rgba(255, 215, 0, 0.8);
}

article {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4mm;
    border-radius: 2mm;
}

a:hover {
    color: rgb(255, 215, 0);
    text-decoration: none;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000 url("/img/background.jpg") center;
    background-size: cover;
    z-index: -2;
}

.bagatelle {
    display: inline-block;
    padding-left: 50px;
    line-height: 50px;
    background-image: url("/img/h.png");
    background-repeat: no-repeat;
    background-position: left;
}

.form-control {
    background-color: rgba(30, 30, 30, 0.6);
    color: rgb(255, 215, 0);
    border-color: rgba(255, 215, 0, 0.4);
}

table td.id {
    width: 5em;
}

table .action {
    width: 5em;
}

.navbar {
    margin: auto;
    height: 90px;
    padding-bottom: 5px;
}

.nav > li > a {
    vertical-align: middle;
    padding: 25px 7px;
}

ul.navbar-nav > li > a:hover {
    color: rgb(255, 215, 0) !important;
}

.navbar-nav > .active > a {
    color: rgba(255, 215, 0, 0.8) !important;
    text-shadow: 0 0 1px rgba(255, 215, 0, 1);
    background-color: transparent !important;
}

.navbar > .container {
    font-family: "A Stamper";
}

.navbar-brand {
    margin-top: 5px;
    font-size: 4.5em;
    font-family: Outlaw;
    color: rgba(255, 215, 0, 0.7) !important;
}

.login .navbar-brand {
    font-size: 2em;
}

.navbar-brand > img {
    display: inline-block;
    margin-left: 10px;
}

@media (max-width: 1230px) {
    .navbar-brand {
        font-size: 30pt;
    }

    .hideable {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1230px) {
    .login .navbar-brand {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand  {
        font-size: 15pt;
    }

    .login .navbar-nav {
        font-size: 0.7em;
    }
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 215, 0, 0.7);
}

.navbar-default {
    border-width: 0;
    background: rgba(0,0,0,0.8);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(85%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 85%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.navbar-border {
    position: absolute;
    top: 67px;
    width: 100%;
    height: 25px;
    background: url("/img/line.png") repeat-x;
    opacity: 0.9;
    z-index: 1;
}

.breadcrumb {
    background-color: rgba(54, 53, 36, 0.18);
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding-top: 20px;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table > tbody > tr > th
{
    border-color: rgba(164, 135, 0, 0.35);
    border-width: 1px;
    padding: 6px;
}

.table > tbody > tr > td.danger {
    background-color: transparent;
    color: red;
}

.alert-danger {
    color: #ff6600;
    border-color: rgba(204, 75, 0, 0.80);
    background-color: rgba(128, 47, 0, 0.60);
}

.alert-warning {
    color: yellow;
    border-color: rgba(255, 255, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.2);
}

.alert-success {
    color: greenyellow;
    border-color: rgba(0, 255, 0, 0.5);
    background-color: rgba(0, 255, 0, 0.2);
}

.alert-info {
    color: deepskyblue;
    border-color: rgba(0, 191, 255, 0.50);
    background-color: rgba(0, 191, 255, 0.20);
}

.pagination > li > a {
    background-color: #1e1e1e;
    color: #ffd700;
    border: none;
}

.pagination > .disabled > span {
    background-color: #222;
    border: none;
}

.pagination > .active > a, .pagination > li > a:hover {
    background-color: rgba(255, 215, 0, 0.80);
    color: #1e1e1e;
    border: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item:nth-child(odd) {
    background-color: #1e1e1e;
}

.footer {
    height: 60px;
    opacity: 0.9;
    font-size: 1.1em;
    text-align: center;
    vertical-align: middle;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(250, 189, 16, 0.15);
}

.btn {
    border-radius: 0;
}

.wrap > .container > div {
}

.home-index {
    margin-top: 1em;
    padding-top: 0.7em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
}

.home-index .border {
    border-radius: 0.4em;
    display: inline-block;
    width: 750px;
    height: 492px;
    padding: 30px;
    background: url("/img/border.png") no-repeat;
}

.index-row {
    display: table-row;
    text-align: center;
}

.index-row > div {
    vertical-align: top;
    display: table-cell;
}

.index-row > div:first-child > img {
    width: 92%;
}

.index-row > div:first-child > img:first-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);

}

.index-row a {
    font-size: 3em;
    text-transform: uppercase;
    font-family: "Monti-Decor A", "A Stamper", Kurale, sans-serif;
}

.gallery {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 432px;
    background-size: cover;
    background: url("/img/gold-rush.jpg") no-repeat;
}

.statistics {
    padding: 1em;
    font-family: "A Stamper";
}

.statistics table {
    margin: auto;
    background-color: transparent;
}

.statistics td {
    padding: 0.3em 0.6em;
    text-align: left;
}

.reinvest:before {
    content: '(реинвест)';
    color: green;
}

.count:before {
    content: 'к-во: ';
}

p {
    margin-bottom: 4px;
}

#matrix a {
    display: block;
}

.matrix {
    vertical-align: middle;
}

.matrix td {
    width: 20%;
}

.matrix .pagination {
    margin: 0;
}

#page-size {
}

#page-size a {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 2px 6px;
}

.matrix .control {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 8px 10px 6px;
}

dt {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 4mm 4mm 0;
    border-top-left-radius: 2mm;
    border-top-right-radius: 2mm;
}

dd {
    padding: 0 4mm 4mm;
    border-bottom-left-radius: 2mm;
    border-bottom-right-radius: 2mm;
}

dt, dd {
    background-color: rgba(0, 0, 0, 0.5);
}

.faq-index .contents {
    display: inline-block;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

.faq-index .contents a {
    display: block;
}

.page {
    padding-top: 2em;
}

.page h1 {
    text-align: center;
}


@media (max-width: 1230px) {
    .index-row {
        display: block;
    }

    .index-row > div {
        display: block;
    }

    .index-row > div:first-child > img {
        margin: auto;
        display: block;
        width: 450px;
    }
}

@media (max-width: 980px) {
    .index-row .border {
        display: none;
    }
}

.invest > div:first-child {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 0 1em;
    padding: 2mm 3mm;
    border-radius: 2mm;
}

.invest > div:first-child p {
    font-size: 1.5em;
    text-shadow: 0 0 1px rgba(255, 215, 0, 1);
}
